################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SerialCommApp
/WindowsFormsApp1/bin/Debug
/WindowsFormsApp1/obj/Debug
